.header {
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #31420b;
    border-bottom: 4px solid #f1d9bb;
    z-index: 3;
}
.header__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
   }
   .header__link{
    display: block;
    padding: 10px;
    margin: 5px;
    background-color: #31420b;
    color: #f1d9bb;
    text-decoration: none;
   }
   .header__image-wrap{
    display: flex;
    align-items: center;
    gap: 10px;
   } 
   .header__image-wrap{
    text-decoration: none;
    color: #f1d9bb;
   }
   .header__title{
    margin: 0;
   }
   .header__list {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   