.main {
    padding: 40px 0px 0;
}
.about{
    display: flex;
    gap: 50px;
    border: 4px solid #f1d9bb;
    justify-content: space-between;
   }
   .about__wrap-right{
    width: 500px;
    flex-shrink: 0;
   }
   .about{
    background-color: #31420b;
     color: #f1d9bb;
     padding: 10px;
     margin-bottom: 40px;
    }
    .card__item{
        width: 433px;
        padding: 15px;
        background-color: #31420b;
       color: #f1d9bb;
        border: 4px solid #f1d9bb;
        display: flex;
        align-items: center;
       }
       .card__list {
        margin: 0;
        padding: 20px 0;
        display: flex;
        gap: 100px;
        flex-wrap: wrap;
        list-style-type: none;
       }
       .card__list__tarif {
        margin: 0;
        padding: 20px 0;
        list-style-type: none;
       }
       .card__list__dosug {
        margin: 0;
        padding: 20px 0;
        list-style-type: none;
       }