

/* Заголовки */
.logo {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: #f1d9bb;

     
}

/* Кнопки */
.button {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: #f1d9bb;
    padding: 5px;
    border: 1px solid #f1d9bb;
    border-radius: 16px;
    background-color: transparent;
    
    cursor: pointer;
}

.button--accent {
    color: #ffffff;
    
    background-color: #f1d9bb;
}

.button--link {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-offset: 8px;

    border: none;
    background-color: transparent;
}

/* Формы */
.form__field {
    font-size: 16px;

    background-color: transparent;
    border: 1px solid rgba(145, 150, 161, 0.4);
    border-radius: 16px;
}